:root {
  --laranja-principal: rgba(239, 100, 53, 1);
  --orange-hover: rgb(241, 181, 161);
}

/*Fontes

font-family: 'Bubblegum Sans', cursive;
font-family: 'Nunito', sans-serif;
*/

html, body {
  margin: 0;
  /*Esta parte é para não criar scroll para a direita, que estava acontecendo em alguns tamanhos de tela*/
  max-width: 100%;
  overflow-x: hidden;
  
}

p {
  font-family: 'Nunito', sans-serif;
}

/*---------------------------------------------------------------------------*/

/*Banner*/

.banner {
  background-color: rgb(229, 228, 228);
  margin-top: 100px;
}

.banner h1 {
  font-family: 'Bubblegum Sans', cursive;
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.5rem;
}

.banner a {
  text-decoration: none;
  border: 2px solid var(--laranja-principal);
  border-radius: 5px;
  background-color: #fff;
  color: var(--laranja-principal);
  font-size: 1.3rem;
}

.banner a:hover{
  background-color: var(--laranja-principal);
  color:#fff
}

@media screen and (min-width:1200px) {
  .banner h1 {
    font-size: 3rem;
  }

  .banner a {
    font-size: 1.5rem;
  }
}


/*--------------------------------------------------------------------------*/

.oportunidade {
  background-color: var(--laranja-principal);
  min-height: 250px;
  color: #FFF;
}

.oportunidade h2 {
  font-size: 2.5rem;
  min-width: 400px;
  font-family:  'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.oportunidade p {
  font-size: 1.2rem;
  font-family:  'Nunito', sans-serif;
}

/*Conteúdo*/

iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width:576px ) {
  iframe {
    width: 400px;
    height: 250px;
  }
  
}

.conteudo-container {
  text-align: center;
}

.conteudo-container h2 {
  font-size: 3rem;
  font-family: 'Bubblegum Sans', cursive;
}

.conteudo-container h3 {
  width: 500px;
  margin-left: 50%;
  font-family: 'Bubblegum Sans', cursive;
  transform: translateX(-50%);
  font-size: 2.5rem;
}
